<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.sl_tech.Mapper.FormMapper">
    <insert id="addForm">
        insert into t_form(form_title,form_content,form_file, form_user_email) values(#{form_title},#{form_content},#{form_file},#{form_user_email})
    </insert>
    <select id="getAllForm" resultType="com.example.sl_tech.Entity.Form">
        select * from t_form where form_user_email=#{form_user_email}
    </select>
    <select id="getFormDetails" resultType="java.lang.String">
        select form_content from t_form where form_id=#{form_id}
    </select>
    <select id="searchForm" resultType="com.example.sl_tech.Entity.Form">
        select * from t_form where form_title like #{form_tile}
    </select>
</mapper>